<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Account Settings - Notifications - SB Admin Pro</title>
<link href="css/styles.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
<script data-search-pseudo-elements defer
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
	crossorigin="anonymous"></script>
</head>

<body>
	<!-- 헤더 포함 -->
	<div th:replace="fragments/header"></div>
	<!-- 메인  -->
	<div class="container-xl px-4 mt-5">
		<main>
			<header
				class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
				<div class="container-xl px-4">
					<div class="page-header-content pt-4">
						<div class="row align-items-center justify-content-between">
							<div class="col-auto mt-4">
								<h1 class="page-header-title">
									<div class="page-header-icon">
										<i data-feather="layout"></i>
									</div>
									알림
								</h1>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- Main page content-->
			<div class="container-xl px-4">
				<div class="card mt-n10">
					<div class="card-header">알림제목</div>
					<div class="card-body">알림내용</div>
				</div>
			</div>
		</main>
	</div>
	<!-- 푸터 포함 -->
	<div th:replace="fragments/footer"></div>
</body>
</html>