<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>권한부여</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <!--메인내용-->
        <div class="container-xl px-4 mt-4">
            <!-- 계정 네비게이터-->
            <nav class="nav nav-borders">
                <a class="nav-link active ms-0" href="join_multi.html">부서만들기</a>
                <a class="nav-link" href="join_multi_2.html">권한부여하기</a>
            </nav>
        </div>
        <!-- 조직만들기 -->
        <section>
            <div id="layoutAuthentication">
                <div id="layoutAuthentication_content">
                    <main>
                        <div class="container-xl px-4">
                            <div class="row justify-content-center">
                                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                                    <div class="card mt-5">
                                        <div class="card-body p-5 text-center">
                                            <div class="icons-org-create align-items-center mx-auto">
                                                <i class="icon-users" data-feather="users"></i>
                                                <i class="icon-plus fas fa-plus"></i>
                                            </div>
                                            <div class="h3 text-primary mb-0">부서만들기</div>
                                        </div>
                                        <hr class="m-0" />
                                        <div class="card-body p-5">
                                            <form>
                                                <div class="mb-3"><input class="form-control form-control-solid" type="text" placeholder="조직이름을 입력하세요" aria-label="Organization Name" aria-describedby="orgNameExample" /></div>
                                                <div class="d-grid"><a class="btn btn-primary" href="join_multi_1.html">조직 생성하기</a></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>    
        </section>


        <!-- 권환부여 -->
        <section>
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                <div class="card mt-5">
                    <div class="card-body p-5 text-center">
                        <div class="icons-org-join align-items-center mx-auto">
                            <i class="icon-user" data-feather="user"></i>
                            <i class="icon-arrow fas fa-long-arrow-alt-right"></i>
                            <i class="icon-users" data-feather="users"></i>
                        </div>
                        <div class="h3 text-secondary mb-0">부서에 가입하세요</div>
                    </div>
                    <hr class="m-0" />
                    <div class="card-body p-5">
                        <form>
                            <h5 class="mb-3">엑세스 코드가 있나요??</h5>
                            <div class="mb-3"><input class="form-control form-control-solid" type="text" placeholder="코드를 입력하세요요" aria-label="Access Code" aria-describedby="accessCodeExample" /></div>
                            <div class="d-grid"><a class="btn btn-secondary" href="auth-login-social.html">Join</a></div>
                        </form>
                    </div>
                    <div class="org-or-divider"><div class="org-or">or</div></div>
                    <div class="card-body p-5">
                        <form>
                            <h5 class="mb-3">접근요청</h5>
                            <div class="mb-3"><input class="form-control form-control-solid" type="text" placeholder="기존 조직 이름름" aria-label="Access Code" aria-describedby="accessCodeExample" /></div>
                            <div class="d-grid"><a class="btn btn-secondary" href="auth-login-social.html">접근요청하기</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
