<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Report_Edit</title>
<link href="css/styles.css" rel="stylesheet" />
<link href="https://unpkg.com/easymde/dist/easymde.min.css"
	rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
<script data-search-pseudo-elements defer
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
	crossorigin="anonymous"></script>
</head>

<body class="nav-fixed">
	<!-- 해더시작 -->
	<div th:replace="fragments/header"></div>
	<!-- 메인-->
	<div class="container-xl px-4 mt-4">
		<hr class="mt-0 mb-4" />
		<div class="row">
			<div class="col-xl-8">
				<div id="loading-screen">
					<!-- Main page content-->
					<div class="container-fluid px-4 mt-5">
						<div class="col-12 col-xl-auto mb-3">
							<a class="btn btn-sm btn-light text-primary"
								href="report_create.html"> <i class="me-1"
								data-feather="plus"></i> 보고서 생성하기
							</a>
						</div>
						<div class="row gx-4">
							<div class="col-lg-8">
								<div class="card mb-4">
									<div class="card-header">보고서 제목</div>
									<div class="card-body">
										<input class="form-control" id="postTitleInput" type="text"
											placeholder="Enter your post title..."
											value="Boots on the Ground, Inclusive Thought Provoking Ideas" />
									</div>
								</div>
								<div class="card card-header-actions mb-4">
									<div class="card-header">
										보고서 미리보기 <i class="text-muted" data-feather="info"
											data-bs-toggle="tooltip" data-bs-placement="left"
											title="The post preview text shows below the post title, and is the post summary on blog pages."></i>
									</div>
									<div class="card-body">
										<textarea class="lh-base form-control" type="text"
											placeholder="Enter your post preview text..." rows="4">Empower communities and energize engaging ideas; scale and impact do-gooders while disrupting industries. Venture philanthropy benefits corporations and people by moving the needle.</textarea>
									</div>
								</div>
								<div class="card card-header-actions mb-4 mb-lg-0">
									<div class="card-header">
										보고서 내용 <i class="text-muted" data-feather="info"
											data-bs-toggle="tooltip" data-bs-placement="left"
											title="Markdown is supported within the post content editor."></i>
									</div>
									<div class="card-body">
										<textarea id="postEditor">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit similique distinctio quidem blanditiis architecto ullam a itaque quisquam nihil! Unde ducimus deleniti exercitationem minima, molestiae ab saepe libero. Doloribus, a?
 
Magnam amet labore exercitationem maxime consectetur molestias quas quia dicta, praesentium minus illum quis fuga, fugiat velit voluptate sed nostrum ipsam atque.
 
## Creating Something New
Laborum placeat quas accusantium vitae perferendis dolores possimus tempora, qui consectetur hic ullam autem. Enim, rerum obcaecati numquam quaerat necessitatibus voluptatem? Repellat!
 
Quasi, quos quaerat? Sint at odit possimus ullam saepe suscipit officiis nobis eaque, laudantium ut earum tempore repellendus mollitia odio nam! Unde?</textarea>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="card card-header-actions">
									<div class="card-header">
										발행 <i class="text-muted" data-feather="info"
											data-bs-toggle="tooltip" data-bs-placement="left"
											title="Your updates will be live once a moderator approves the changes."></i>
									</div>
									<div class="card-body">
										<div class="d-grid">
											<button class="fw-500 btn btn-primary">업데이트하기</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 푸터 포함 -->
	<div th:replace="~{fragments/footer}"></div>


	<script src="js/scripts.js"></script>
	<script src="https://unpkg.com/easymde/dist/easymde.min.js"
		crossorigin="anonymous"></script>
	<script src="js/markdown.js"></script>
</body>

</html>